<div class="row" id="file-details">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Metadata Details</h4>
            </div>
            <div class="content">
	    {% if meta %}
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Time</strong></div>
                    <div class="col-sm-10">{{meta.time}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>App Protocol</strong></div>
                    <div class="col-sm-10">{{meta.app_proto}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>User Agent</strong></div>
                    <div class="col-sm-10">{{meta.http_user_agent}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Source IP</strong></div>
                    <div class="col-sm-10">{{meta.src_ip}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Source Port</strong></div>
                    <div class="col-sm-10">{{meta.src_port}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Destination IP</strong></div>
                    <div class="col-sm-10">{{meta.dst_ip}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Destination Port</strong></div>
                    <div class="col-sm-10">{{meta.dst_port}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>HTTP Referer</strong></div>
                    <div class="col-sm-10">{{meta.http_referer}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>HTTP Host</strong></div>
                    <div class="col-sm-10">{{meta.http_host}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>HTTP URI</strong></div>
                    <div class="col-sm-10">{{meta.http_uri}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Size</strong></div>
                    <div class="col-sm-10">{{meta.size}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>State</strong></div>
                    <div class="col-sm-10">{{meta.state}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right"><strong>Sensor Name</strong></div>
                    <div class="col-sm-10">{{meta.sensor_name}}</div>
                </div>
	    {% endif %}
                <div class="footer">
                    <br />
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
